In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# Additional flights with different destination cities and carrier types
AKL_flights_info = [
    {'flight_number': 'FL100', 'departure_city': 'AKL', 'arrival_city': 'SYD', 'duration': 210, 'carrier_type': 'Narrow Body', 'flight_class': 'Economy', 'class_capacity': 180}, 
    {'flight_number': 'FL100', 'departure_city': 'AKL', 'arrival_city': 'SYD', 'duration': 210, 'carrier_type': 'Narrow Body', 'flight_class': 'Premium Economy', 'class_capacity': 30}, 
    {'flight_number': 'FL100', 'departure_city': 'AKL', 'arrival_city': 'SYD', 'duration': 210, 'carrier_type': 'Narrow Body', 'flight_class': 'Business', 'class_capacity': 20}, 
    {'flight_number': 'FL101', 'departure_city': 'AKL', 'arrival_city': 'LAX', 'duration': 720, 'carrier_type': 'Wide Body', 'flight_class': 'Economy', 'class_capacity': 250},
    {'flight_number': 'FL101', 'departure_city': 'AKL', 'arrival_city': 'LAX', 'duration': 720, 'carrier_type': 'Wide Body', 'flight_class': 'Business', 'class_capacity': 50},
    {'flight_number': 'FL101', 'departure_city': 'AKL', 'arrival_city': 'LAX', 'duration': 720, 'carrier_type': 'Wide Body', 'flight_class': 'First Class', 'class_capacity': 14},
    {'flight_number': 'FL102', 'departure_city': 'AKL', 'arrival_city': 'NRT', 'duration': 660, 'carrier_type': 'Wide Body', 'flight_class': 'Economy', 'class_capacity': 225,},
    {'flight_number': 'FL102', 'departure_city': 'AKL', 'arrival_city': 'NRT', 'duration': 660, 'carrier_type': 'Wide Body', 'flight_class': 'Business', 'class_capacity': 40},
    {'flight_number': 'FL102', 'departure_city': 'AKL', 'arrival_city': 'NRT', 'duration': 660, 'carrier_type': 'Wide Body', 'flight_class': 'First Class', 'class_capacity': 12},
    {'flight_number': 'FL103', 'departure_city': 'AKL', 'arrival_city': 'FJI', 'duration': 180, 'carrier_type': 'Narrow Body', 'flight_class': 'Economy', 'class_capacity': 150},
    {'flight_number': 'FL103', 'departure_city': 'AKL', 'arrival_city': 'FJI', 'duration': 180, 'carrier_type': 'Narrow Body', 'flight_class': 'Business', 'class_capacity': 20},
    {'flight_number': 'FL104', 'departure_city': 'AKL', 'arrival_city': 'CHC', 'duration': 80, 'carrier_type': 'Regional Jet', 'flight_class': 'Economy', 'class_capacity': 90},
    {'flight_number': 'FL104', 'departure_city': 'AKL', 'arrival_city': 'CHC', 'duration': 80, 'carrier_type': 'Regional Jet', 'flight_class': 'Business', 'class_capacity': 10},
]

# Converting the dictionary into a DataFrame
AKL_flights_info_df = pd.DataFrame(AKL_flights_info)

AKL_flights_info_df

,flight_number,departure_city,arrival_city,duration,carrier_type,flight_class,class_capacity
0,FL100,AKL,SYD,210,Narrow Body,Economy,180
1,FL100,AKL,SYD,210,Narrow Body,Premium Economy,30
2,FL100,AKL,SYD,210,Narrow Body,Business,20
3,FL101,AKL,LAX,720,Wide Body,Economy,250
4,FL101,AKL,LAX,720,Wide Body,Business,50
5,FL101,AKL,LAX,720,Wide Body,First Class,14
6,FL102,AKL,NRT,660,Wide Body,Economy,225
7,FL102,AKL,NRT,660,Wide Body,Business,40
8,FL102,AKL,NRT,660,Wide Body,First Class,12
9,FL103,AKL,FJI,180,Narrow Body,Economy,150
10,FL103,AKL,FJI,180,Narrow Body,Business,20
11,FL104,AKL,CHC,80,Regional Jet,Economy,90
12,FL104,AKL,CHC,80,Regional Jet,Business,10